.attributes {
  margin-top: 19px;
}

.text-attr-items {
  display: flex;
  gap: 12px;
}

.text-attr-item {
  width: 4em;
  height: 2.81em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1d1f22;
  cursor: pointer;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #1d1f22;
}

.selected-text-attribute-item,
.text-attr-item:hover {
  color: #ffffff;
  background-color: #1d1f22;
}

.swatch-attr-items {
  display: flex;
  gap: 8px;
}

.swatch-attr-item {
  border: 2px solid rgba(255, 255, 255, 0);
}

.swatch-attr-item div {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.selected-swatch-attr-item,
.swatch-attr-item:hover {
  border: 1px solid #5ece7b;
  padding: 1px;
}
