.attributes {
  margin-top: 19px;
}

.text-attr-items {
  display: flex;
  gap: 12px;
}

.text-attr-item {
  padding: 13px 22px;
  border: 1px solid #1d1f22;
  cursor: pointer;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #1d1f22;
}

.selected-text-attribute,
.text-attr-item:hover {
  color: #ffffff;
  background-color: #1d1f22;
}

.swatch-attr-items {
  display: flex;
  gap: 8px;
}
/* 
.swatch-attr-item {
  /* TO DO */
