.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 22px;
  width: 102px;
  height: 40px;
}

.cart {
  background-color: #ffffff;
  border: 0px #ffffff;
  cursor: pointer;
}

.number {
  position: absolute;
  margin-top: -2.3em;
  margin-left: 0.6em;
  padding: 0.12em 0.1em 0.1em;
  min-width: 1.3em;
  width: fit-content;
  min-height: 1.3em;
  height: fit-content;
  border-radius: 1em;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.2em;
  text-align: center;
  justify-content: baseline;

  color: #ffffff;
  background-color: #1d1f22;
}
