.list {
  position: absolute;
  padding: 12px 0;
  margin-left: -0.6em;
  top: 2.8em;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  list-style: none;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  z-index: 30;
}

.list li {
  white-space: nowrap;
  padding: 8px 40px 8px 20px;
}

.list li p {
  margin: 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}

.list li:hover {
  background-color: #eeeeee;
  cursor: pointer;
}
