.header {
  position: fixed;
  top: 0;
  z-index: 20;
  height: 5em;
  width: 100%;
  max-width: 1440px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.logo {
  position: absolute;
  left: 50%;
}