.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.controls button {
  height: 24px;
  width: 24px;
  background-color: white;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-size: cover; 
  background-position: center;
}

.plus {
  background-image: url("../../../assets/plus-square.svg");
}

.minus {
  background-image: url("../../../assets/minus-square.svg");
}

.controls p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #1d1f22;
}
