.attr-name {
  margin: 8px 0;
  padding: 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #1d1f22;
}

.text-attr-items {
  display: flex;
  gap: 8px;
}

.text-attr-item {
  min-width: 24px;
  height: 24px;
  padding: 0 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1d1f22;
  cursor: pointer;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #1d1f22;
}

.selected-text-attribute-item {
  color: #ffffff;
  background-color: #1d1f22;
}

.swatch-attr-items {
  display: flex;
  gap: 8px;
}

.swatch-attr-item {
  border: 2px solid rgba(255, 255, 255, 0);
}

.swatch-attr-item div {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.selected-swatch-attr-item {
  border: 1px solid #5ece7b;
  padding: 1px;
}
