.category {
  margin: 80px 100px 100px;
  width: 299px;
  height: 68px;
  font-style: normal;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #1d1f22;
}

.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 100px;
  max-width: 1440px;
  margin: 100px;
  padding: 0;
  list-style: none;
}
