.cart-wrapper {
  /* display: grid;
  grid-template-columns: 10fr 1fr 5fr; */
  display: flex;
  justify-content: space-between;
  
  gap: 1.5em;
  padding: 1.5em 0;
  border-bottom: 1px solid #e5e5e5;
}

.description {
  flex: 17;
}